@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Mulish', sans-serif;
  }
}

.background-radial-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    160deg,
    hsl(240, 25%, 0%) 0%,
    hsl(240, 25%, 1%) 20%,
    hsl(240, 25%, 2%) 50%,
    hsl(240, 25%, 1%) 80%,
    hsl(240, 25%, 0%) 100%
  );
}
